<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hehetech.tubes5_travelokey">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tubes5_TravelOkey">
        <activity
            android:name=".Activity.Travel.RV_Item_Travel"
            android:exported="true" />
        <activity
            android:name=".Activity.Travel.Pay_ItemTravel"
            android:exported="true" />
        <activity
            android:name=".Activity.Travel.Detail_Item_Travel"
            android:exported="true" />
        <activity
            android:name=".Activity.Pariwisata.RV_ItemPariwisata"
            android:exported="true" />
        <activity
            android:name=".Activity.Pariwisata.Pay_ItemPariwisata"
            android:exported="true" />
        <activity
            android:name=".Activity.Pariwisata.Detail_ItemPariwisata"
            android:exported="true" />
        <activity
            android:name=".Activity.Hotels.RV_ItemHotel"
            android:exported="true" />
        <activity
            android:name=".Activity.Hotels.Pay_ItemHotel"
            android:exported="true" />
        <activity
            android:name=".Activity.Hotels.Detail_ItemHotel"
            android:exported="true" />
        <activity
            android:name=".Activity.Bus.RV_ItemBus"
            android:exported="true" />
        <activity
            android:name=".Activity.Bus.Pay_ItemBus"
            android:exported="true" />
        <activity
            android:name=".Activity.Bus.Detail_ItemBus"
            android:exported="true" />
        <activity
            android:name=".Activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Home"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".Activity.Flight.RV_ItemFlight"
            android:exported="false" />
        <activity
            android:name=".Activity.Flight.Detail_ItemFlight"
            android:exported="false" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.pengaturan"
            android:exported="true"
            android:parentActivityName=".Activity.Home" />
        <activity
            android:name=".Activity.SdanK"
            android:exported="true"
            android:parentActivityName=".Activity.pengaturan" />
        <activity
            android:name=".Activity.AboutActivity"
            android:exported="true"
            android:parentActivityName=".Activity.pengaturan" />
        <activity
            android:name=".Activity.KebijakanPrivasi"
            android:exported="true"
            android:parentActivityName=".Activity.pengaturan" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Flight.Pay_ItemFlight"
            android:exported="true" />
    </application>

</manifest>